*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    /* padding: 10px; */
    /* border-style: solid; */
}

header > .container-header > div,a{
    color: #f9f9f9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.container-header{
    background-color: black;
    margin: 20px;
    /* width: 1200px; */
    height: 70px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.form-container{
    background-color: black;
    margin: 20px ;
    color: azure; 
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.title{
    display: flex;
    align-items: center;
}

h3, h2{
    margin-right: 10px;
    margin-bottom: 10px;
}

.line{
    flex: 1;
    border-bottom: 2px solid black;
}

label {
    display: inline-block;
    width: 130px;
    margin-bottom: 30px;
}

input{
    width: 450px;
    height: 40px;
    border-radius: 10px;

}

input[type="checkbox"]{
    margin: 0;
}