*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



header > .container-header > div,a{
    color: #f9f9f9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.container-header{
    background-color: #2A2C2E;
    margin: 20px;
    /* width: 1200px; */
    height: 70px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.form-container{
    background-color: #2A2C2E;
    margin: 20px ;
    color: azure; 
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.title{
    display: flex;
    align-items: center;
}

h3, h2{
    margin-right: 10px;
    margin-bottom: 10px;
}

.line{
    flex: 1;
    border-bottom: 2px solid rgb(255, 255, 255);
}

label {
    display: inline-block;
    width: 130px;
    margin-bottom: 30px;
}

input{
    width: 450px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}

input[type="checkbox"]{
    margin: 0;
    width: 20px;
    /*   */
}

button{
    height: 50px;
    width: 600px;
    background-color: #F4CE47;
    border-radius: 10px;
}


.container-footer{
    background-color:#2A2C2E;
    /* margin: 20px; */
    /* width: 1200px; */
    height: 70px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border-radius: 15px; */
}

.container-footer {
    margin-bottom: auto; /* Push to the top */
}

.disclaimer {
    margin-top: auto; /* Push to the bottom */
}

.icon-media > li {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 24px; 
}

.icon-media{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 10px;
}

.icon-media li i {
    font-size: 24px; 
    transition: transform 0.3s ease;
}
.icon-media li i:hover {
    transform: scale(1.5);
}

.disclaimer{
    background-color: rgb(26, 23, 23);
    
    
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.disclaimer > div > p{
    color: #f9f9f9;
}

.disclaimer > div{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 20px;
}